extends layout

block corpo
  .w3-container
    .w3-card-4
            header.w3-container.w3-light-grey
                h3 Indice de Músicas
            .w3-container
                table.w3-table.w3-bordered
                    tr
                        th Titulo
                        th Link
                    - var lista = ind.index.musica
                    - lista.sort((a,b)=>{if(a.titulo<b.titulo) return -1; if(a.titulo>b.titulo) return 1; return 0;})
                    each musica in lista
                        tr 
                            td= musica.titulo 
                            td
                                a(href='http://localhost:7000/obra/' + musica.id)= musica.titulo
            footer.w3-container.w3-light-grey
                address Criado por Ezequiel Moreira

