extends layout.pug

block corpo
  .w3-container
    .w3-card-4
            header.w3-container.w3-light-grey
                h3 Dados do ficheiro
            .w3-container
              p fich._id
						footer.w3-container.w3-light-grey
								address Criado por Ezequiel Moreira
